body {
    margin: 0;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 106px;
    background-color: #FFFFFF !important;
    opacity: 1;
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
}


.brand-name {
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.brand-name>div:first-child {
    color: #82A70C;
}

.brand-name>div:nth-child(2) {
    columns: #42515F;
}

.hero-heading {
    font: normal normal bold 28px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

.hero-heading>div:nth-child(2) {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-heading>div:nth-child(2)>div:nth-child(1) {
    width: 77px;
    height: 55px;
    border-radius: 28px;
    background-color: #FFFFFF
}

.hero-heading>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #82A70C;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    height: 55px;
}


form {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    font: normal normal normal 18px/24px Roboto !important;
    color: #42515F !important;
}

#form-heading {
    text-align: left;
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    margin-bottom: 30px;
}

input[type='button'] {
    margin: 12px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    color: #42515F;
    font-weight: normal normal normal;
    font-size: 20px/26px;
    font-family: Roboto;
    opacity: 1;
    width: 250px;
    
}
input[type='radio']{
    background-color: #DEDEDE;
    border: 1px solid #B4B4B4;
}

select{
    padding-top: 10px !important;
    border: 1px solid  #BDBDBD !important;
}
input {
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}


button {
    width: 250px !important;
    align-items: start !important;
    justify-content: start !important;
}

textarea {
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

.form-floating {
    padding-left: 0px;
}

.select-one>label{
    padding-top: 4px;
    
}

